fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.0.1
google-generativeai==0.8.3
requests==2.32.3
pydantic==2.10.5
firecrawl==1.10.0
python-multipart==0.0.20
langchain-google-genai==2.0.9
langchain==0.3.14
yt-dlp==2025.1.15
webvtt-py==0.5.1
numpy==2.2.2
astrapy==1.5.2